.view {
    margin-top: 1.2rem;
    padding: 0 2rem;
    &__name {
        text-align: center;
        font-size: 5rem;
        color: $color-primary;
        font-weight: 700;
        word-wrap: break-word;
        @include respond(phone) {
            font-size: 3.5rem;
        }
    }
    &__buttons {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        @include respond(phone) {
            flex-direction: column;
        }
    }
    &__btn {
        padding: 1.3rem 2rem;
        max-width: 30rem;
        border: 2px solid $color-dark;
        color: $color-dark;
        font-weight: 700;
        width: 50%;
        border-radius: 7px;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        @include respond(phone) {
            max-width: 100%;
            width: 100%;
            &:not(:last-child) {
                margin:0 0 1.5rem 0;
            }
        }
        &:not(:last-child) {
            margin-right: 5rem;
        }
        &-disabled {
            pointer-events: none;
            color: $color-brown-grey;
            border-color: $color-brown-grey;
        }
        &-link {
            animation: comeFromLeft 1s;
        }
        &-back {
            animation: comeFromRight 1s;
        }
    }
}