.header {
    height: 15rem;
    background-image: url(/assets/github.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: moveInLeft 1s;
    @include respond(phone){
        height: 10rem;
    }
}