.btn {
    padding: 1.2rem 3rem;
    width: 13rem;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s;
    @include respond(tab-port){
        padding: 1rem 2.5rem;
        width: 10rem;
    }
    @include respond(phone){
        width: 100%;
    }
    &-primary {
        color: $color-dark;
        background-color: $color-primary;
    }
    &:not(:disabled) {
        &:focus {
            outline: none;
            background-color: rgba( $color-primary, 0.9);
        }
        &:hover {
            background-color: $color-primary-bright-1;
        }
    }
    &-loading {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 5px solid #FFFEEE;
        border-radius: 100%;
        border-top: 5px solid transparent;
        animation: load-animate infinite linear 1s;
    }
}